
asyncio==3.4.3
asyncpg==0.22.0
databases==0.5.3
pydantic==1.8.1
prometheus_client==0.10.1
fastapi==0.58.1
uvicorn==0.13.4
python-dotenv==0.14.0
starlette==0.13.4
requests==2.26.0
structlog==21.1.0
python-rapidjson==1.0
python-multipart==0.0.5
aiofiles==0.6.0
pytest==6.2.4
pytest-asyncio==0.15.1
pytest-cov==2.11.1
pytest-mock==3.6.1
python-rapidjson==1.0

watchdog==2.1.2
PyYAML==5.4.1
argh==0.26.2
